
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <a href="index.html"><img src="assets/img/logoM4A.png" alt="" class="img-fluid"></a>
        <h1 class="text-light"><a href="index.html"><span>Minds For Analytics</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->

      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li><a href="index.html">Home</a></li>

          <li class="active"><a routerLink = "/services">Services</a></li>
          <li><a href="portfolio.html">Industries</a></li>
          <li><a routerLink = "/team">Team</a></li>
          <li><a href="about.html">Testimonials</a></li>
          <li><a href="blog.html">Blog</a></li>
          <!-- <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li> -->
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Nuestros Servicios</h2>
          <ol>
            <li><a href="/home">Home</a></li>
            <li>Nuestros Servicios</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Services Section -->
        <!-- ======= Services Section ======= -->
        <section class="services" data-aos="fade-up" date-aos-delay="200">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-lg-2 col-sm-4 col-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                  <div class="icon"><i class="bx bx-world"></i></div>
                  <h4 class="title"><a href="">Satellite Image Analysis</a></h4>
                </div>
              </div>

              <div class="col-md-3 col-lg-2 col-sm-4 col-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                  <div class="icon"><i class="bx bx-camera"></i></div>
                  <h4 class="title"><a href="">Computer Vision</a></h4>
                </div>
              </div>

              <div class="col-md-3 col-lg-2 col-sm-4 col-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                  <div class="icon"><i class="bx bx-radar"></i></div>
                  <h4 class="title"><a href="">Internet Of Things [IoT]</a></h4>
                </div>
              </div>

              <div class="col-md-3 col-lg-2 col-sm-4 col-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                  <div class="icon"><i class="bx bx-data"></i></div>
                  <h4 class="title"><a href="">Data Science</a></h4>
                </div>
              </div>
              <div class="col-md-3 col-lg-2 col-sm-4 col-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                  <div class="icon"><i class="bx bx-mobile-vibration"></i></div>
                  <h4 class="title"><a href="">Apps and Web pages</a></h4>
                </div>
              </div>

              <div class="col-md-3 col-lg-2 col-sm-4 col-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                  <div class="icon"><i class="bx bx-line-chart"></i></div>
                  <h4 class="title"><a href="">Data Visualization</a></h4>
                </div>
              </div>

            </div>

          </div>
        </section><!-- End Services Section -->

        <!-- ======= Features Section ======= -->
        <section class="features">
          <div class="container">

            <div class="section-title">
              <h2>Analisis Satelital de Imagenes</h2>
              <p>With the images thrown by Google Earth services, it is possible to recognize multiple variables, such as humidity, vegetation, etc.</p>
            </div>

            <div class="row" data-aos="fade-up">
              <div class="col-md-5 col-lg-5 col-sm-12 col-12 juxtapose-img">
                <iframe frameborder="0" class="juxtapose" width="100%" height="100%" src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=2833157a-90a7-11ea-a879-0edaf8f81e27"></iframe>
              </div>
              <div class="col-md-7 pt-4">
                <h3>We believe in the power of the agrobusiness.</h3>
                <p class="font-italic">
                  It's a huge industry and with the help of data science, you can power all your products.
                </p>
                <ul>
                  <li><i class="icofont-check"></i> Crop and soil monitoring – companies are using Computer Vision and Deep Learning algorithms to process data captured by drones and/or software-based technology to monitor crop and soil health.
                    </li>
                  <li><i class="icofont-check"></i> Predictive analytics – Machine Learning models are being developed to track and predict various environmental impacts on crop yield, such as weather changes.</li>
                  <!-- <li><i class="icofont-check"></i> Automation techniques in irrigation and enabling farmers - Machines trained on the historical weather patterns, soil quality and kind of crops to be grown can automate watering and increase overall yield.</li> -->
                </ul>
              </div>
            </div>

            <div class="row" data-aos="fade-up">
              <div class="col-md-5 order-1 order-md-2">
                <img src="assets/img/OilAndGas.png" class="img-fluid" alt="">
              </div>
              <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>Energy and mining for the future.</h3>
                <p class="font-italic">
                  the energy industry will begin to change in the coming years and the intervention of the human being will be less and less.
                </p>
                <ul>
                  <li><i class="icofont-check"></i> Sensors are used to capture real‑time data to identify potential failure planes on rock surfaces, using handheld hardware to analyze rock surfaces and providing the data to the user within minutes.
                    This is done with software that analyzes data 18 times faster than current manual methods. The result is a consistent and radically efficient method for making an accurate and quick assessment of potential risks.
                    </li>
                  <li><i class="icofont-check"></i>Deep Learning and Machine Learning in Oil & Gas extraction processes can also help to improve subsurface characterization. Applications provide insights into the fluid composition and inform the users of the pore size distribution of a formation.</li>
                  <li><i class="icofont-check"></i> Using Machine Learning in Oil & Gas exploration through reservoir modelling allows users to predict how formations will react to certain drilling techniques.</li>
                </ul>
              </div>
            </div>
            <a href="/team" class="btn-read-more animate__animated animate__fadeInUp">Industry</a>
          </div>
        </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="assets/img/why-us.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-details-1.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Our Mission</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-details-2.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Our Plan</a></h5>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-details-3.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Our Vision</a></h5>
                <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-details-4.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Our Care</a></h5>
                <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium voluptatem. In molestiae earum ab sit esse voluptatem. Eos ipsam cumque ipsum officiis qui nihil aut incidunt aut</p>
                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Service Details Section -->

    <!-- ======= Pricing Section ======= -->
    <section class="pricing section-bg" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 box">
            <h3>Free</h3>
            <h4>$0<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
              <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
              <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

          <div class="col-lg-4 box featured">
            <h3>Business</h3>
            <h4>$29<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
              <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
              <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

          <div class="col-lg-4 box">
            <h3>Developer</h3>
            <h4>$49<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
              <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
              <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

  </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a routerLink = "/services">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Testimonials</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                Direccion <br>
                Bogotá, <br>
                Colombia <br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>

            </div>

            <div class="col-lg-3 col-md-6 footer-info">
              <h3>About Minds For Analytics</h3>
              <p>We are a Start Up, made up of 12 people, committed to innovation and the development of organizations, flexible, agile and with a lot of energy.</p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Minds for Analytics</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
      </div>
    </footer><!-- End Footer -->

    <a href="https://api.whatsapp.com/send?phone=573134011670&text=Hola" class="back-to-top" target="_blank">
      <i class="fa fa-whatsapp my-float"></i>
      </a>
</body>

